<div class="container mt-5">
  <h1>Alta cliente</h1>
  <div class="row m-1">
    <label class="col-2" for="nombre">Nombre:</label>
    <input id="nombre" class="col-2" type="text" #nombre />
  </div>
  <div class="row m-1">
    <label class="col-2" for="cif">CIF:</label>
    <input id="cif" class="col-2" type="text" #cif />
  </div>
  <div class="row m-1">
    <label class="col-2" for="dir">Dirección:</label>
    <input id="dir" class="col-2" type="text" #dir />
  </div>
  <div class="row m-1">
    <label class="col-2" for="grupo">Grupo:</label>
    <select id="grupo" class="form-select col-2 form-select-sm" aria-label=".form-select-sm example" #grupo>
      <option selected>Sin definir</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <button class="btn btn-dark" (click)="uploadClients(nombre.value, cif.value, dir.value, grupo.value)">
    Guardar
  </button>
  <app-listado [clients]="clients"></app-listado>
</div>
